
/* PALETE COLORS */
:root {
    --primary: #454B6B;
    --secondary: #484F70;
    --card: #313131;
    --info: #5bc0de;
    --success: #5cb85c;
}

/* GLOBALS */

*, *:after, *:before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    
    margin: 0;
    background-color: var(--secondary);
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 95%;
}

/* NAGIGATION */

header {
    background-color: var(--primary);
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navigation {
    display: none;
}

.logo {
    text-decoration: none;
}

.logo:hover {
    background-color: var(--secondary);
}

.title {
    color: white;
    margin: 0 0;
    padding: 10px 20px;
}

.navigation__link {
    text-decoration: none;
    color: white;
    margin-right: 10px;
    font-size: 16px;
    padding: 20px 20px;
    width: 100%;
    text-align: center;
}

.navigation__link:hover {
    background-color: var(--secondary);
}

.social {
    display: none;
}

.menu__toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    padding: 20px 20px;
}

.menu__toggle:hover {
    background-color: var(--secondary);
    cursor: pointer;
}

.navigation__mobile {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.invisible {
    display: none;
}

@media (min-width: 700px) {
    .menu {
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .navigation {
        display: flex;
    }
    .social {
        display: flex;
        gap: 10px;
        list-style: none;
    }
    .menu__toggle {
        display: none;
    }
    .navigation__link {
        width: auto;
    }
    .navigation__mobile {
        display: none;
    }
}

/* HERO */

.hero {
    height: 350px;
    background-color: var(--card);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__text {
    color: white;
    font-size: 24px;
}


/* PROJECTS SECTION */

.projects {
  margin-top: 40px;
  margin-bottom: 40px;
}

.projects__title {
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.projects__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 10px;
    gap: 20px;
}

@media(min-width: 700px) {
    .projects__container {
        grid-template-columns: repeat(3, 1fr);
    }
}

.project {
    width: 350px;
    background-color: white;
    border-radius: 5px;
    color: black;
}

.project__image img {
    width: 350px;
    height: 200px;
}

.project__content {
    padding: 5px 10px 20px 10px;
}

.project__title {
    font-weight: bolder;
    margin-bottom: 2px;
}

.project__subtitle {
    margin: 0;
    font-weight: bold;
}

.project__actions {
    display: flex;
    column-gap: 10px;
}

.btn {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 10px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

.btn-github {
    background-color: var(--info);
}

.btn-deploy {
    background-color: var(--success);
}

.btn__img {
    padding-left: 5px;
}

/* FOOTER */
.footer {
    color: white;
    text-align: center;
}